aside {
  width: 25%;
  border-top: 0.5rem solid red;
  background: #282828;
  padding: 1rem;
  margin-top: 4rem;
  margin-right: 5rem;
}
aside h1 {
  margin: 1rem 0;
  color: #ececf8;
}
aside nav ul {
  list-style: none;
}
aside nav ul li {
  cursor: pointer;
  padding: 1rem 0;
}
aside nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.4s ease;
}

aside nav ul li:hover a {
  color: orange;
}
.articals-size {
  width: 70%;
  height: 100%;
}
